.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

/* --- Tag Styles --- */
.tag {
  display: inline-block; /* 让 padding 和 margin 表现更稳定 */
  padding: 3px 8px;
  margin-left: 5px; /* 让标签和前面的文字有一点距离 */
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1.5; /* 改善垂直对齐 */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10px; /* 圆角大小 */
}

/* 定义不同颜色的标签 */
.tag-ccf {
  color: #2E8B57; /* 海绿色 SeaGreen */
  background-color: #F0FFF0; /* 蜜瓜色 Honeydew */
}
