.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 5px;
}

.ccf-tag {
  background-color: #28a745; /* 深绿色 */
  color: white;
  padding: 2px 6px;
  border-radius: 3px;
  font-weight: bold;
  margin-left: 5px; /* 与前面的文字稍微隔开一点距离 */
}
